body {
font-family: 'DM Sans', sans-serif;
font-size: 0.9rem;
background-color: #2e2e2e;
color: #ccc;
}
h1 {
font-family: 'Qwigley', cursive;
font-size: 4rem;
color: #cbcbcb;
text-align: center;
margin: 0;
padding: 0;
font-weight: 500;
}
.content {
max-width: 40rem;
margin: 0 auto;
padding: 1rem;
margin-bottom: 2rem;
}
@media(min-width: 60rem) {
body {
    font-size: 1.25rem;
}
h1 {
    font-size: 8rem;
}
}
.footer {
max-width: 25em;
margin: 0 auto;
text-align: center;
}
a, a:hover {
color: #eee;
}
a:hover {
color: #fff;
}

.footer a, .footer span {
display: block;
padding: 1rem;
text-decoration: none;
}
.icon {
width: 50px;
height: 50px;
vertical-align: middle;
padding-right: 1rem;
display: none;
}
@media(min-width: 20em) {
  .icon {
    display: inline-block;
  }
}
.title-link {
  text-decoration:none;
}
blockquote {
  border-left: 0.5rem solid #404040;
  margin: 1.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
